DATABASE_TYPE=dm8
DATABASE_HOST=localhost
DATABASE_PORT=5236
DATABASE_USERNAME=SYSDBA
DATABASE_PASSWORD=SYSDBA
DATABASE_SCHEMA=SYSDBA
# Optional: override ODBC driver name for Kingbase/Shentong
# KINGBASE_ODBC_DRIVER=KingbaseES 9 ODBC Driver ANSI
# SHENTONG_ODBC_DRIVER=OSCAR ODBC DRIVER
# Optional: override bundled ODBC driver file path
# KINGBASE_ODBC_DRIVER_PATH=drivers/kingbase/X64_Windows/odbc/x64_ANSI_Release/kdbodbc30a.dll
# SHENTONG_ODBC_DRIVER_PATH=drivers/shentong/windows/oscarodbcw.dll
SERVER_PORT=3000
